<settings>

    <setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionTitle">
        <settingConfig type="alphaNumeric" readonly="true" />
    </setting>
    <setting propertyKey="@Properties.themeColor" title="@Strings.ThemeColorTitle">
        <settingConfig type="alphaNumeric" />
    </setting>

</settings>